main {
    width: 100%;
    height: auto;
    min-height: 100vh;
    
}
main h1, main h2 {
    padding-top: 1em;
}
.form-class-container {
    width: 50%;
    height: auto;
    display: inline-block;
    margin: 4em auto 1em auto;
    padding-bottom: 1em;
    border: none;
    border-radius: 7px;
    background-color: white;
    padding: 1em;
    z-index: 1;
    box-shadow: 5px 5px 5px #254e58;
}
@media screen and (min-width: 280px) and (max-width: 480px) {
    .form-class-container {
        width: 75%;
    }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
    .form-class-container {
        width: 60%;
    }
}
.form-class {
    width: 100%;
    height: auto;
    
}
.form-class input {
    width: 90%;
    height: auto;
    margin: 1em auto 1em auto;
    padding: 1em;
    border: 1px solid #254e58;
    border-radius: 5px;
    outline: none;
}
.form-class button {
    width: 90%;
    height: auto;
    margin: 1em auto 1em auto;
    padding: 1em;
    border: 1px solid #254e58;
    border-radius: 5px;
    outline: none;
    background-color: #254e58;
    color: #88bdbc;
}
.form-class button:hover {
    cursor: pointer;
}

.form-class-container a {
    text-decoration: none;
    color: #88bdbc;
    margin: .5em auto .5em auto;
}
.form-class-container a:hover {
    text-decoration: underline;
    color: #254e58;
}

.form-class-container .create-account-button {
    width: 60%;
    height: auto;
    margin: 1em auto 1em auto;
    padding: 1em;
    border: 1px solid lightgreen;
    border-radius: 5px;
    outline: none;
    background-color: lightgreen;
    color: white;
}
.form-class-container .create-account-button:hover {
    cursor: pointer;
}
